{% extends "AppCoder/padre.html" %}

{% block titulo %}
estas buscando el estudiante con email: {{email}}.
<p><br></p>

{% for x in resultados %}
<h4>
<li style="color:white">>Nombre: {{x.nombre}}, Apellido: {{x.apellido}}, Email: {{x.email}} </li>
</h4>
{% endfor %}

{% endblock %}

{% block form %}
<p><br></p>
<p><br></p>
<h2>
<form action='{% url "resultado estudiante" %}' method="GET" >
    
    <div style="text-align: center;">
    <p style="color:white">deseas buscar otro estudiante por email?</p> 
    <input type="email" name="email">
    <input type="submit" value="Buscar">
    </div>
</form>
</h2>

{% endblock %}